

* {
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
}

.conteudo {
    background: linear-gradient(to right, var(--cores-dancantes));
    width: 100%;
    height: 90px;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    animation: coresDancantes 2s linear infinite;
}

@keyframes coresDancantes {
    100% {
        filter: hue-rotate(360deg);
    }
}

.conteudo .caixa,
.conteudo span {
    width: 98%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conteudo .caixa {
    z-index: 1;
    background-color: var(--cor-background);
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.conteudo>span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

.conteudo>span:nth-child(1) {
    filter: blur(2px);
}

.conteudo>span:nth-child(2) {
    filter: blur(5px);
}